langchain-openai
langchain-core
langchain-community
langchain
langchain-ollama
streamlit
fastapi
uvicorn
langserve
sse_starlette
pydantic

pypdf
bs4

sentence-transformers
chromadb
wikipedia
arxiv

groq
langchain-groq